<p>Welcome to Speakers Live!</p>

<p>We're so happy you're here! We founded Speakers Live because we wanted to make it easier for event organisers to connect with incredible speakers, like you!</p>

<p>Please click on the link below to confirm your account and get started!</p>

<p><%= link_to 'Confirm my account', confirmation_url(@resource, confirmation_token: @token) %></p>

<p>Once confirmed, fill in your profile and your details will be displayed on the speakers page!</p>
